.subContainer{
  margin-top: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
  flex-wrap: wrap;
  }
.subredditCard{
    text-align: center;
    background-color: white;
    margin: 10px;
    width: 400px;
    height: 100%;
    padding: 10px;
  }
.subredditCard p {
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}
.iconSub{
    float: left;
    border-radius: 50%;
    height: 10%;
    width: 10%;
  }
.bannerSub{
    width: 100%;
    padding: 0;
  }
.topBit{
  width: 100%;
  text-align: right;
}
