.sideSubContainer{
    display: flex;
    margin: 10px;
}
.sideSubredditCard{
    background-color: lightgrey;
    width: 300px;
    height: 80px;
    display: inline-block;
  }
.sideSubredditCard p{
    font-size: 8px;
    float: right;
    text-align: center;
}
.sideSubredditCard .iconSideSub{
    border-radius: 50%;
    height: 35px;
    float: left;
    width: 35px;
  }
.sideSub{
    float: left;
}
.view{
    font-size: 25px;
    text-align: center;
    background-color: lightgrey;
    width: 300px;
    height: 40px;
    display: inline-block;
}
