.App {
  text-align: center;
}

.Nav__item-wrapper{
  list-style: none;

}
.Nav__item{
  display:inline;
  padding: 30px;
}
.Nav__item Link{
  text-decoration: none;

}
.subContainer{
  display: inline-flex;
  flex-wrap: wrap;
}

.Nav__container{

  background-color: white;
  position:relative;



}
.subredditCard{
  background-color: lightskyblue;
  margin: 20px;
  width: 600px;
  height: 100%;
}
.subredditCard .iconSub{
  border-radius: 50%;
  float: left;
  height: 10%;
  width: 10%;
}
.subredditCard .bannerSub{
  width: 100%;
  height: 30%;
}

