html{
  background-color: gray;
}
.App {
  text-align: center;
  
}

.Nav__item-wrapper{
  list-style: none;

}
.Nav__item{
  height: 88px;
  display:flex;
  padding: 30px;
}
.Nav__item Link{
  text-decoration: none;

}


.Nav__container{

  background-color: lightcyan;
  position:relative;
  float: left;


}
