.postContainer{
    width: 72%;
    display: inline-flex;
    flex-wrap: wrap;
  
  }
  .postCard{
    width: 100%;
    height: auto;
    background-color: white;
    margin: 20px;
    padding: 20px;
    overflow:scroll;
  }
  .postInfoTop h3,
  p,
  img{

    font-size: 20px;
    display: inline;
    padding: 20px;
  }
  .postInfoTop h3,
  p{
    padding: 50px;
  }
  .postImg{
    object-fit: cover;
    width: 30%;
    height: 40%;
    overflow: hidden;
    margin-left: auto;
  }
  #individualPostImg{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    
  }
  .postCard .iconSub{
    border-radius: 50%;
    height: 8%;
    width: 8%;
  }
  .footerPost{
    width: 100%;
    text-align: center;
    display: inline-block;
  }
  .footerPost a{
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    padding: 20px;
  }
  .textPost{
    width: 100%;
  }