.postContainer{
    float: center;
    width: 70%;
    display: inline-flex;
    flex-wrap: wrap;
  
  }
  .postCard{
    width: 100%;
    height: 450px;
    background-color: lightcyan;
    margin: 20px;
    overflow: scroll;
  }
  .postInfoTop h3,
  p,
  img{
    font-size: 20px;
    display: inline;
    padding: 20px;
  }
  .postImg{
    float: right;
    width: 40%;
    height: 50%;
    overflow: hidden;
  }
  .postCard .iconSub{
    border-radius: 50%;
    height: 8%;
    width: 8%;
  }